@model C43QLXeKhach.Models.TRAMXE

@{
    ViewBag.Title = "Chi Tiết Trạm Xe";
}

<h2>Chi Tiết Trạm Xe</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Tên Trạm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTram)
        </dd>

        <dt>
            Tỉnh Thành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTHANH.TenTT)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Người Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            Người Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            Ngày Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.isDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isDeleted)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaTram }) |
    @Html.ActionLink("Quay Về", "Index")
</p>
