@model IEnumerable<C43QLXeKhach.Models.TRAMXE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTram }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTram }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTram })
        </td>
    </tr>
}

</table>
