@model C43QLXeKhach.Models.TUYENXE

@{
    ViewBag.Title = "Chi Tiết Tuyến Xe";
}

<h2>Chi Tiết Tuyến Xe</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Chi tiết Tuyến Xe</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Mã tuyến</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.MaTuyen" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Điểm đi</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.TINHTHANH.TenTT" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Điểm đến</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.TINHTHANH1.TenTT" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Quãng đường</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.QuangDuong" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thời gian</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.ThoiGian" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số chuyến 1 ngày</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.SoChuyen1Ngay" />
            </div>
        </div>

    </div>
}

<p>
    <button class="btn btn-primary" id="btnEdit" title="edit" onclick="location.href='@Url.Action("Edit", "TUYENXEs", new { id = Model.MaTuyen })'">
        Chỉnh sửa
        @*<span class="glyphicon glyphicon-remove"></span>*@
    </button>
    <button class="btn btn-danger" id="btnDelete" title="delete" onclick="location.href='@Url.Action("Index", "TUYENXEs")'">
        Quay trở lại
        @*<span class="glyphicon glyphicon-remove"></span>*@
    </button>

</p>
