@model C43QLXeKhach.Models.TUYENXE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TUYENXE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuangDuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuangDuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoChuyen1Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoChuyen1Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTuyen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
