@model C43QLXeKhach.Models.GiaCoBanViewModel

@{
    ViewBag.Title = "Thêm Giá cơ bản";
}

<h2>Thêm Giá cơ bản</h2>

@using (Html.BeginForm("Create", "GIACOBANs", FormMethod.Post, new { id = "gcbCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Tỉnh thành đi</label>
            <div class="col-md-10">
                <select class="form-control" id="ttDi" name="ttDi" value="@Model.gcb.MaTT1" onchange="UpdateTT1(event)">
                    @foreach (var item in Model.tinhThanh)
                    {
                        <option value="@item.MaTT">@item.TenTT</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tỉnh thành đến</label>
            <div class="col-md-10">
                <select class="form-control" id="ttDen" name="ttDen" value="@Model.gcb.MaTT2" onchange="UpdateTT2(event)">
                    @foreach (var item in Model.tinhThanh)
                    {
                        <option value="@item.MaTT">@item.TenTT</option>
                    }
                </select>
                <div class="text-danger" id="maTT2Error" hidden>Điểm đến không được trùng với điểm đi</div>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại xe</label>
            <div class="col-md-10">
                <select class="form-control" id="maLoai" name="maLoai" value="@Model.gcb.MaLoai" onchange="UpdateMaLoai(event)">
                    @foreach (var item in Model.lx)
                    {
                        <option value="@item.MaLoai">@item.TenLoai</option>
                    }
                </select>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá vé</label>
            <div class="col-md-10">
                <input class="form-control" name="gia" id="giacb" value="@Model.gcb.GiaCoBan1" type="number" onchange="UpdateGia(event)" />
                <div class="text-danger" id="giaError" hidden>Giá không hợp lệ</div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="create" type="button" value="Thêm" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay trở lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function UpdateMaLoai(e) {
          
        }

        function UpdateGia(e) {
           
        }

        function UpdateTT1(e) {
         
        }

        function UpdateTT2(e) {
         
        }

        $(document).ready(function () {
            $('#create').on('click', function () {

                let isError = false;
                var gia = $("#giacb").val();
                var maTT1 = $("#ttDi").val();
                var maTT2 = $("#ttDen").val();
                console.log(gia, maTT1, maTT2);
                if (!gia || gia <= 0) {
                    $("#giaError").show();
                    isError = true;
                }
                if (maTT1 === maTT2) {
                    $("#maTT2Error").show();
                    isError = true;
                }
                if (!isError) {
                    $("#giaError").hide();
                    $("#maTT2Error").hide();
                    $("#gcbCreate").submit();
                } else {
                    return;
                }
            });
        });
    </script>
}
