@model C43QLXeKhach.Models.GiaCoBanViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Thêm Giá cơ bản</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tỉnh thành đi</label>
            <div class="col-md-10">
                <select class="form-control" id="ttDi" name="ttDi">
                    @foreach (var item in Model.tinhThanh)
                    {
                        <option value="@item.MaTT">@item.TenTT</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tỉnh thành đến</label>
            <div class="col-md-10">
                <select class="form-control" id="ttDen" name="ttDen"> 
                    @foreach (var item in Model.tinhThanh)
                    {
                        <option value="@item.MaTT">@item.TenTT</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại xe</label>
            <div class="col-md-10">
                <select class="form-control" id="maLoai" name="maLoai">
                    @foreach (var item in Model.lx)
                    {
                        <option value="@item.MaLoai">@item.TenLoai</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá vé</label>
            <div class="col-md-10" id="gia">
                <input type="number" class="form-control" name="gia" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
