@model C43QLXeKhach.Models.sp_ve_info_Result

@{
    ViewBag.Title = "Chi Tiết Vé";
}

<h2>Chi Tiết Vé</h2>


<form>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>Số Điện Thoại</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="col-md-2">
                    <label>Trạm Lên</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TramLen, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>Tên Khách Hàng</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>

                <div class="col-md-2">
                    <label>Trạm Xuống</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TramXuong, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>CMND</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="col-md-2">
                    <label>Ngày Mua</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NgayMua, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>Địa Chỉ</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="col-md-2">
                    <label>Giá Vé</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.GiaMua, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
                <div class="col-md-2">
                    <label>Giờ Lên Xe</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.GioDi, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <label>Loại Xe</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <label>Biển Số Xe</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.BienSoXe, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">
                    <label>Ghế</label>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.MaGhe, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>
        </div>
      
    </div>
</form>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit/" + Model.MaVe, "VEs")'" title="Edit">Đổi</button>
    <button class="btn btn-danger" title="delete" onclick="location.href='@Url.Action("Index", "VEs")'">Quay Trở Lại</button>
</p>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
