@model C43QLXeKhach.Models.VE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TramLen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TramLen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TramXuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TramXuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
