@model C43QLXeKhach.Models.C_SESSION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_SESSION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogoutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
