<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/select")
    <style>
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 16%;
            background-color: #f1f1f1;
            height: 100%; /* Full height */
            position: fixed; /* Make it stick, even on scroll */
            overflow: auto; /* Enable scrolling if the sidenav has too much content */
            font-size: 16px;
        }

        .menu li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

            .menu li a.active {
                background-color: #4CAF50;
                color: white;
            }

            .menu li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }
    </style>
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">Hệ thống quản lý xe khách</div>

            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 menu">
            <ul id="menu">
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/NHANVIENs/Index" ? "active" : null)" href="/NHANVIENs/Index">Quản lý nhân viên</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/KHACHHANGs/Index" ? "active" : null)" href="/KHACHHANGs/Index">Quản lý khách hàng</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/VEs/Index" ? "active" : null)" href="/VEs/Index">Quản lý vé</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/TUYENXEs/Index" ? "active" : null)" href="/TUYENXEs/Index">Quản lý tuyến đi</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/CHUYENXEs/Index" ? "active" : null)" href="/CHUYENXEs/Index">Quản lý chuyến đi</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/XEs/Index" ? "active" : null)" href="/XEs/Index">Quản lý xe</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/LOTRINHs/Index" ? "active" : null)" href="/LOTRINHs/Index">Quản lý lộ trình</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/GIACOBANs/Index" ? "active" : null)" href="/GIACOBANs/Index">Quản lý giá cơ bản</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/HOPDONGs/Index" ? "active" : null)" href="/HOPDONGs/Index">Quản lý hợp đồng</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/LOAIXEs/Index" ? "active" : null)" href="/LOAIXEs/Index">Quản lý loại xe</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/DOITACs/Index" ? "active" : null)" href="/DOITACs/Index">Quản lý đối tác</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/TINHTHANHs/Index" ? "active" : null)" href="/TINHTHANHs/Index">Quản lý tỉnh thành</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/TRAMXEs/Index" ? "active" : null)" href="/TRAMXEs/Index">Quản lý trạm xe</a></li>
                <li><a class="@(HttpContext.Current.Request.Url.AbsolutePath == "/KHAOSATs/Index" ? "active" : null)" href="/KHAOSATs/Index">Quản lý khảo sát</a></li>

            </ul>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Quản Lý Xe Khách C43</p>
                </footer>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/select")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu li a").click(function () {
            $("#menu li a").removeClass('active');
            $(this).parent().addClass('active');
        });
    </script>
</body>
</html>
