@model C43QLXeKhach.Models.LOAIXE

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">XÓA LOẠI XE</h2>
<h3 class="text-center">Bạn có chắc muốn xóa loại xe này?</h3><br />
<div>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại xe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

        <dt>
            Số lượng ghế
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLGhe)
        </dd>
    </dl>*@

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <td style="font-weight:bold; width:30%" class="text-left">Tên loại xe</td>
                            <td class="text-left">@Html.DisplayFor(model => model.TenLoai)</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Số lượng ghế</td>
                            <td class="text-left">@Html.DisplayFor(model => model.SLGhe)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            @*<a href="/LOAIXEs/Index" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Quay lại</a>*@
            <input type="submit" value="Xóa loại xe" class="btn btn-danger" />
        </div>
    }
</div>
