@model C43QLXeKhach.Models.TINHTHANH

@{
    ViewBag.Title = "Chi Tiết Tỉnh Thành";
}

<h2>Chi Tiết Tỉnh Thành</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Mã Tỉnh Thành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTT)
        </dd>

        <dt>
            Tên Tỉnh Thành
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTT)
        </dd>

        <dt>
            Người Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            Người Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            Ngày Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.isDeleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isDeleted)
            </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaTT }) |
    @Html.ActionLink("Quay Về", "Index")
</p>
