@model C43QLXeKhach.Models.TINHTHANH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TINHTHANH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTT)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
