@model C43QLXeKhach.Models.TAIXE

@{
    ViewBag.Title = "Thêm Tài Xế";
}

<h2>Thêm Tài Xế</h2>


<form action="/TAIXEs/Create" method="post" id="frmCreate">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                <label>Tên tài xế</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTX, "", new { @class = "text-danger",id="errTenTX" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>CMND</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger", id = "errCMND" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Số điện thoại</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger", id = "errSDT" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Địa chỉ</label>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger", id = "errDiaChi" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Ngày sinh</label>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control date" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger", id = "errNgaySinh" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Số bằng lái</label>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.SoBangLai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoBangLai, "", new { @class = "text-danger", id = "errSoBangLai" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Loại bằng lái</label>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.LoaiBangLai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoaiBangLai, "", new { @class = "text-danger", id = "errLoaiBangLai" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Thời hạn bằng lái</label>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.ThoiHanBangLai, new { htmlAttributes = new { @class = "form-control date" } })
                @Html.ValidationMessageFor(model => model.ThoiHanBangLai, "", new { @class = "text-danger", id = "errThoiHanBangLai" })
            </div>
        </div>

        
    </div>
</form>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-success" id="btn_submit">Thêm</button>
    </div>
</div>
<p>
    <button class="btn btn-danger" title="delete" onclick="location.href='@Url.Action("Index", "TAIXEs")'">Quay Trở Lại</button>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#btn_submit").on('click', function () {
            if(!validate()){
                return;
            }
            $("#frmCreate").submit();
        });
    $(function () {
        var bindDatePicker = function () {
            $(".date").datetimepicker({
                format: 'YYYY-MM-DD',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            }).find('input:first').on("blur", function () {
                // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
                // update the format if it's yyyy-mm-dd
                var date = parseDate($(this).val());

                if (!isValidDate(date)) {
                    //create date based on momentjs (we have that)
                    date = moment().format('YYYY-MM-DD');
                }

                $(this).val(date);
            });
        }

        var isValidDate = function (value, format) {
            format = format || false;
            // lets parse the date to the best of our knowledge
            if (format) {
                value = parseDate(value);
            }

            var timestamp = Date.parse(value);

            return isNaN(timestamp) == false;
        }

        var parseDate = function (value) {
            var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
            if (m)
                value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

            return value;
        }

        bindDatePicker();
    });
    function validate(){
        var tentx=$("#TenTX").val(),
            cmnd=$("#CMND").val(),
            ngaysinh=$("#NgaySinh").val(),
            diachi=$("#DiaChi").val(),
            sdt=$("#SDT").val(),
            sobanglai=$("#SoBangLai").val(),
            loaibanglai=$("#LoaiBangLai").val(),
            thoihanbanglai=$("#ThoiHanBangLai").val();
        if(tentx==""){
            $("#errTenTX").text("Tên tài xế là bắt buộc");
            return false;
        }
        else
            $("#errTenTX").text("");
        if(cmnd==""){
            $("#errCMND").text("CMND là bắt buộc");
            return false;
        }
        else
            $("#errCMND").text("");
        if(sdt==""){
            $("#errSDT").text("Số điện thoại là bắt buộc");
            return false;
        }
        else
            $("#errSDT").text("");
        if(diachi==""){
            $("#errDiaChi").text("Địa chỉ là bắt buộc");
            return false;
        }
        else
            $("#errDiaChi").text("");
        if(ngaysinh==""){
            $("#errNgaySinh").text("Ngày sinh là bắt buộc");
            return false;
        }
        else
            $("#errNgaySinh").text("");
       
        if(sobanglai==""){
            $("#errSoBangLai").text("Số bằng lái là bắt buộc");
            return false;
        }
        else
            $("#errSoBangLai").text("");
        if(loaibanglai==""){
            $("#errLoaiBangLai").text("Loại bằng lái là bắt buộc");
            return false;
        }
        else
            $("#errLoaiBangLai").text("");
        if(thoihanbanglai==""){
            $("#errThoiHanBangLai").text("Thời hạn bằng lái là bắt buộc");
            return false;
        }
        else
            $("#errThoiHanBangLai").text("");
        return true;
    }
    </script>
}