@model C43QLXeKhach.Models.TAIXE

@{
    ViewBag.Title = "Chi Tiết Tài Xế";
}

<h2>Chi Tiết Tài Xế</h2>

<div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Tên tài xế</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTX, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>CMND</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Số điện thoại</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Địa chỉ</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Ngày sinh</label>
            </div>

            <div class="col-md-10">

                <div>
                    @if (Model.NgaySinh != null)
                    {
                        <input class="form-control date text-box single-line" data-val="true" data-val-date="The field NgaySinh must be a date." readonly id="NgaySinh" name="NgaySinh" type="datetime" value="@Model.NgaySinh.Value.ToString("yyyy-MM-dd")" />
                    }
                    else
                    {
                        <input class="form-control date text-box single-line" data-val="true" data-val-date="The field NgaySinh must be a date." readonly id="NgaySinh" name="NgaySinh" type="datetime" value="@Model.NgaySinh" />
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Số bằng lái</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoBangLai, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Loại bằng lái</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoaiBangLai, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Thời hạn bằng lái</label>
            </div>
            <div class="col-md-10">
                <div class='date' id='datetimepicker'>
                    @if (Model.ThoiHanBangLai != null)
                    {
                        <input class="form-control date text-box single-line" data-val="true" data-val-date="The field ThoiHanBangLai must be a date." id="ThoiHanBangLai" name="ThoiHanBangLai" readonly type="datetime" value="@Model.ThoiHanBangLai.Value.ToString("yyyy-MM-dd")" />
                    }
                    else
                    {
                        <input class="form-control date text-box single-line" data-val="true" data-val-date="The field ThoiHanBangLai must be a date." id="ThoiHanBangLai" name="ThoiHanBangLai" readonly type="datetime" value="@Model.ThoiHanBangLai" />
                    }
                </div>
            </div>
        </div>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit/" + Model.MaTX, "TAIXEs")'" title="Edit">Chỉnh Sửa</button>
    <button class="btn btn-danger" title="delete" onclick="location.href='@Url.Action("Index", "TAIXEs")'">Quay Trở Lại</button>
</p>

