@model IEnumerable<C43QLXeKhach.Models.TAIXE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBangLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiBangLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiHanBangLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBangLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiBangLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiHanBangLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTX }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTX }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTX })
        </td>
    </tr>
}

</table>
