@model IEnumerable<C43QLXeKhach.Models.TAIXE>

@{
    ViewBag.Title = "Tài Xế";
}

<div class="row">
    <div class="col-md-4" id="taixeTitle" style="cursor:pointer"><h2>Danh Sách Tài Xế</h2></div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>

            <a href="/TAIXEs/Create" class="btn btn-primary" title="add">
                Thêm
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            <button class="btn btn-danger text-right" id="btnDelete" title="delete">
                Xóa
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
</div>

<form action="/TAIXEs/Index" method="POST" id="frmtaixe">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        TenTX
                    </th>
                    <th>
                        CMND
                    </th>
                    <th>
                        SDT
                    </th>
                    <th>
                        DiaChi
                    </th>
                    <th>
                        NgaySinh
                    </th>
                    <th>
                        SoBangLai
                    </th>
                    <th>
                        ThoiHanBangLai
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaTX>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenTX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CMND)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @if (item.NgaySinh != null)
                            {
                                @item.NgaySinh.Value.ToString("yyyy-MM-dd")
                            }
                            else
                            {
                                @item.NgaySinh
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoBangLai)
                        </td>
                        <td>
                            @if (item.ThoiHanBangLai != null)
                            {
                                @item.ThoiHanBangLai.Value.ToString("yyyy-MM-dd")
                            }
                            else
                            {
                                @item.ThoiHanBangLai
                            }
                        </td>
                        <td class="text-right">
                            <div style="width:70px">
                                <a href="/TAIXEs/Details/@item.MaTX" class="btn btn-xs btn btn-info" title="Xem chi tiết">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                <a href="/TAIXEs/Edit/@item.MaTX" class="btn btn-xs btn-primary" title="Chỉnh sửa">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những chuyến xe này?");
            if (returnVal)
                $('#frmtaixe').submit();
            else
                return;
        });
        $('#taixeTitle').on('click', function () {
            window.location="/TAIXEs/Index";
        });
    </script>
}