@model C43QLXeKhach.Models.ResetPasswordViewModel


<h2>Đổi mật khẩu</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Đây là lần đăng nhập đầu tiên của bạn. Xin hãy đặt lại mật khẩu.</h4>
    <hr />
    <div style="color:forestgreen">@ViewBag.Message</div>
    <br />
    if (ViewBag.Message == null)
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Thay đổi" />
            </div>
        </div>
    }
    else
    {
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "NHANVIENs")'">Trở về trang chủ</button>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
