
@model IEnumerable<C43QLXeKhach.Models.NHANVIEN>

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
}

<h2>Danh Sách Nhân Viên</h2>

<p>
    @Html.ActionLink("Thêm Nhân Viên", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tên Nhân Viên
        </th>
        <th>
           CMND
        </th>
        <th>
           Ngày Sinh
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            SDT
        </th>
        <th>
            Email
        </th>
        <th>
           Trạng Thái Tài Khoản
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
          @item.NgaySinh.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiTaiKhoan)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNV }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
