
@model IEnumerable<C43QLXeKhach.Models.NHANVIEN>

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
}
<div class="row">
<div class="col-md-4" id="nhanVienTitle" style="cursor:pointer"><h2>Danh Sách Nhân Viên</h2></div>
</div>
<div class="row">
   <div class="col-md-8">
        <p>

            <a href="/NHANVIENs/Create" class="btn btn-primary" title="add">
                Thêm Nhân Viên
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            <button class="btn btn-danger" id="btnDelete" title="delete">
                Xóa Nhân Viên
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
    @*<div class="col-md-3">
        <div class="input-group col-md-12">
            <input id="txtSearch" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" id="btnSearch" title="search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
</div>*@
    @*<div class="col-md-1">
            <button class="btn btn-default" id="btnSearch" title="search">
                <span class="glyphicon glyphicon-search"></span>
            </button>
    </div>*@
</div>

<form action="/NHANVIENs/Index" method="POST" id="frmnhanvien">
    @Html.AntiForgeryToken()
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable"  cellspacing="0">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Tên Nhân Viên
                            </th>
                            <th>
                                CMND
                            </th>
                            <th>
                                Ngày Sinh
                            </th>
                            <th>
                                Địa Chỉ
                            </th>
                            <th>
                                SDT
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Trạng Thái Tài Khoản
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaNV>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenNV)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CMND)
                                </td>
                                <td>
                                    @if (item.NgaySinh != null)
                                    {
                                        @item.NgaySinh.Value.ToString("yyyy-MM-dd")
                                    }
                                    else
                                    {
                                        @item.NgaySinh
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>

                                    @if (@item.TrangThaiTaiKhoan == 1)
                                    {
                                        @Html.Raw("Đã kích hoạt")
                                    }
                                    else
                                    {
                                        @Html.Raw("Chưa kích hoạt")
                                    }
                                </td>
                                <td>
                                    <a href="/NHANVIENs/Edit/@item.MaNV" class="btn btn-xs btn-primary" title="edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    @*<a href="/NHANVIENs/Details/@item.MaNV" class="btn btn-xs btn-info" title="details">
                                            <span class="glyphicon glyphicon-book"></span>
                                        </a>*@
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
            var url = decodeURIComponent(window.location.search.substring(1));
            if (url != "") {
                var searchinput = url.split("=")[1];
                $("#txtSearch").val(searchinput);
            }
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });
       
        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những nhân viên này?");
            if (returnVal)
                $('#frmnhanvien').submit();
            else
                return;
        });
        //$('#btnSearch').on('click', function () {
        //    var input = "";
        //    if ($("#txtSearch").val())
        //        input = $("#txtSearch").val();
        //    var url="/NHANVIENs/Index?input="+input;
        //    window.location=url;
        //});
        $('#nhanVienTitle').on('click', function () {
            window.location="/NHANVIENs/Index";
        });
    </script>
}