@model C43QLXeKhach.Models.LOTRINH

@{
    ViewBag.Title = "Chi Tiết Lộ Trình";
}

<h2>Chi Tiết Lộ Trình</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Chi tiết lộ trình</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Tuyến xe</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.TUYENXE.DiemDi - @Model.TUYENXE.DiemDen" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên trạm</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.TRAMXE.TenTram" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thứ tự</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.ThuTu" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Khoảng thời gian</label>
            <div class="col-md-10">
                <input class="form-control" disabled value="@Model.KhoangThoiGian" />
            </div>
        </div>


    </div>
}

<p>
    <button class="btn btn-primary" id="btnEdit" title="edit" onclick="RenderEditView()">
        Chỉnh sửa
        @*<span class="glyphicon glyphicon-remove"></span>*@
    </button>
    <button class="btn btn-danger" id="btnDelete" title="delete" onclick="location.href='@Url.Action("Index", "LOTRINHs")'">
        Quay trở lại
        @*<span class="glyphicon glyphicon-remove"></span>*@
    </button>

</p>

<form action="/LOTRINHs/EditView" method="POST" id="hiddenForm">
    <input id="maTuyen" name="maTuyen" hidden value="@Model.MaTuyen" />
    <input id="maTram" name="maTram" hidden value="@Model.MaTram" />
</form>

@section Scripts {

    <script type="text/javascript">
        function RenderEditView() {
            $("#hiddenForm").submit();
        }
    </script>
}
