@model IEnumerable<C43QLXeKhach.Models.LOTRINH>

@{
    ViewBag.Title = "Danh Sách Lộ Trình";
}

@*<h2>Index</h2>*@

<div class="row">
    <div class="col-md-4" id="lotrinhTitle" style="cursor:pointer"><h2>Danh Sách Lộ Trình</h2></div>
</div>

<div class="row">
    <div class="col-md-8">
        <p>

            <a href="/LOTRINHs/Create" class="btn btn-primary" title="add">
                Thêm
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            @* @Html.ActionLink("Them tinh thanh", "Create")*@
            <button class="btn btn-danger" id="btnDelete" title="delete">
                Xóa
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
</div>

<form action="/LOTRINHs/Index" method="POST" id="frmlotrinh">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Tên tuyến
                    </th>
                    <th>
                        Tên trạm
                    </th>
                    <th>
                        Thứ tự
                    </th>
                    <th>
                        Khoảng thời gian
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value="@item.MaTuyen,@item.MaTram+">
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.MaTuyen)*@
                            @item.TUYENXE.DiemDi - @item.TUYENXE.DiemDen
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.MaTram)*@
                            @item.TRAMXE.TenTram
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThuTu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhoangThoiGian)
                        </td>
                        <td>
                            <div>
                                <a onclick="NavigateDetail('@item.MaTuyen', '@item.MaTram')" class="btn btn-xs btn-info" title="Xem chi tiết">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                <a onclick="NavigateEdit('@item.MaTuyen', '@item.MaTram')" class="btn btn-xs btn-primary" title="Chỉnh sửa">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>

<form action="/LOTRINHs/Details" method="POST" id="hiddenForm">
    <input id="maTuyen" name="maTuyen" hidden />
    <input id="maTram" name="maTram" hidden />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
            var url = decodeURIComponent(window.location.search.substring(1));
            if (url != "") {
                var searchinput = url.split("=")[1];
                $("#txtSearch").val(searchinput);
            }
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những lộ trình này?");
            if (returnVal)
                $('#frmlotrinh').submit();
            else
                return;
        });
        $('#btnSearch').on('click', function () {
            var input = "";
            if ($("#txtSearch").val())
                input = $("#txtSearch").val();
            var url="/LOTRINHs/Index?input="+input;
            window.location=url;
        });
        $('#lotrinhTitle').on('click', function () {
            window.location="/LOTRINHs/Index";
        });

        function NavigateEdit(maTuyen, maTram) {
            $("#hiddenForm").attr("action", "/LOTRINHs/EditView")
            $("#maTuyen").val(maTuyen);
            $("#maTram").val(maTram);
            $("#hiddenForm").submit();
        }
        function NavigateDetail(maTuyen, maTram) {
            $("#hiddenForm").attr("action", "/LOTRINHs/Details")
            $("#maTuyen").val(maTuyen);
            $("#maTram").val(maTram);
            $("#hiddenForm").submit();
        }
    </script>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThuTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoangThoiGian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastupdateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastupdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThuTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhoangThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastupdateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastupdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

    </table>*@
