@model C43QLXeKhach.Models.HOPDONG

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HOPDONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaThoaThuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaThoaThuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiHanThue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiHanThue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
