@model C43QLXeKhach.Models.HOPDONG

@{ 
    ViewBag.Title = "Chi Tiết Hợp Đồng";
}

<h2>Chi Tiết Hợp Đồng</h2>

<div>
    <div class="form-group">
        <div class="col-md-2">
            <label>Mã HĐ</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaHD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Ngày Lập</label>
        </div>
        <div class="col-md-10">
            @if (Model.NgayLap != null)
            {
                <input class="form-control date text-box single-line" data-val="true" data-val-date="The field NgayLap must be a date." readonly id="NgayLap" name="NgayLap" type="datetime" value="@Model.NgayLap.Value.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input class="form-control date text-box single-line" data-val="true" data-val-date="The field NgayLap must be a date." readonly id="NgayLap" name="NgayLap" type="datetime" value="@Model.NgayLap" />
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Giá Thỏa Thuận</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaThoaThuan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Trạm Thuê</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TRAMXE.TenTram, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Thời Hạn Thuê</label>
        </div>
        <div class="col-md-10">
            @if (Model.ThoiHanThue != null)
            {
                <input class="form-control date text-box single-line" data-val="true" data-val-date="The field ThoiHanThue must be a date." readonly id="ThoiHanThue" name="ThoiHanThue" type="datetime" value="@Model.ThoiHanThue.Value.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input class="form-control date text-box single-line" data-val="true" data-val-date="The field ThoiHanThue must be a date." readonly id="ThoiHanThue" name="ThoiHanThue" type="datetime" value="@Model.ThoiHanThue" />
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Đối Tác</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOITAC.TenDT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Người Lập</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NHANVIEN.TenNV, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Mô Tả</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Quay về", "Index")
</p>
