@model C43QLXeKhach.Models.HOPDONG

@{ 
    ViewBag.Title = "Chi Tiết Hợp Đồng";
}

<h2>Chi Tiết Hợp Đồng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã HĐ
        </dt>

        <dd>
           @Html.DisplayFor(model => model.MaHD)
        </dd>

        <dt>
            Ngày lập
        </dt>

        <dd>
            @Model.NgayLap.Value.ToString("dd-MM-yyy")
        </dd>

        <dt>
            Giá thỏa thuận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaThoaThuan)
        </dd>

        <dt>
            Trạm thuê
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAMXE.TenTram)
        </dd>

        <dt>
            Thời hạn thuê
        </dt>

        <dd>
            @Model.ThoiHanThue.Value.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            Đối tác
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOITAC.TenDT)
        </dd>

        <dt>
            Người lập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.TenNV)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            Người cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Quay về", "Index")
</p>
