@model IEnumerable<C43QLXeKhach.Models.HOPDONG>

@{
    ViewBag.Title = "Danh Sách Hợp Đồng";
}

<div class="row">
    <div class="col-md-4" id="hopDongTitle" style="cursor:pointer"><h2>Danh Sách Hợp Đồng</h2></div>
</div>

<div class="row">
    <div class="col-md-8">
        <p>

            <a href="/HOPDONGs/Create" class="btn btn-primary" title="add">
                Thêm
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            <button class="btn btn-danger" id="btnDelete" title="delete">
                Xóa
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
</div>

<form action="/HOPDONGs/Index" method="POST" id="frmhopdong">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Mã hợp đồng
                    </th>
                    <th>
                        Ngày lập
                    </th>
                    <th>
                        Giá thỏa thuận
                    </th>
                    <th>
                        Trạm thuê
                    </th>
                    <th>
                        Thời hạn thuê
                    </th>
                    <th>
                        Đối tác
                    </th>
                    <th>
                        Người lập
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaHD>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaHD)
                        </td>
                        <td>
                            @if (item.NgayLap != null)
                            {
                                @item.NgayLap.Value.ToString("dd-MM-yyyy")
                            }
                            else
                            {
                                @item.NgayLap
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GiaThoaThuan)
                        </td>
                        <td>
                            <div style="white-space:nowrap">@Html.DisplayFor(modelItem => item.TRAMXE.TenTram)</div>
                        </td>
                        <td>
                            @if (item.ThoiHanThue != null)
                            {
                                @item.ThoiHanThue.Value.ToString("dd-MM-yyyy")
                            }
                            else
                            {
                                @item.ThoiHanThue
                            }
                        </td>
                        <td>
                            <div style="white-space:nowrap">@Html.DisplayFor(modelItem => item.DOITAC.TenDT)</div>
                        </td>
                        <td>
                            <div style="white-space:nowrap">@Html.DisplayFor(modelItem => item.NHANVIEN.TenNV)</div>
                        </td>
                        <td style="width:70px">
                            <a href="/HOPDONGs/Details/@item.MaHD" class="btn btn-xs btn btn-info" title="Xem chi tiết">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>

                            <a href="/HOPDONGs/Edit/@item.MaHD" class="btn btn-xs btn-primary" title="Chỉnh sửa">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
            var url = decodeURIComponent(window.location.search.substring(1));
            if (url != "") {
                var searchinput = url.split("=")[1];
                $("#txtSearch").val(searchinput);
            }
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những hợp đồng này?");
            if (returnVal)
                $('#frmhopdong').submit();
            else
                return;
        });
        $('#btnSearch').on('click', function () {
            var input = "";
            if ($("#txtSearch").val())
                input = $("#txtSearch").val();
            var url="/HOPDONGs/Index?input="+input;
            window.location=url;
        });
        $('#hopDongTitle').on('click', function () {
            window.location="/HOPDONGs/Index";
        });
    </script>
}
