@model IEnumerable<C43QLXeKhach.Models.HOPDONG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaThoaThuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiHanThue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaThoaThuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiHanThue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHD })
        </td>
    </tr>
}

</table>
