@*@model C43QLXeKhach.Models.KHAOSAT*@

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">XÓA KHẢO SÁT</h2>
<h3 class="text-center">Bạn có chắc muốn xóa khảo sát này?</h3><br />

@foreach (var item in Model)
{
<div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <td style="font-weight:bold; width:30%" class="text-left">Ngày khảo sát</td>
                            <td class="text-left">@item.NgayKS.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Người khảo sát</td>
                            <td class="text-left">@item.NHANVIEN.TenNV</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Địa chỉ khảo sát</td>
                            <td class="text-left">@item.DiaChiKS</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Tỉ lệ đón khách</td>
                            <td class="text-left">@item.TiLeDonKhach</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Giá khảo sát</td>
                            <td class="text-left">@item.GiaKS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Xóa khảo sát" class="btn btn-danger" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
}