@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@foreach (var item in Model) { 
<div>
    <h4>KHAOSAT</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            Ngày khảo sát: 
        </dt>

        <dd>
            @item.NgayKS
        </dd>

        <dt>
            Người khảo sát: 
        </dt>

        <dd>
            @item.NHANVIEN.TenNV
        </dd>

        <dt>
            Địa chỉ khảo sát:
        </dt>

        <dd>
            @item.DiaChiKS
        </dd>

        <dt>
            Tỉ lệ đón khách: 
        </dt>

        <dd>
            @item.TiLeDonKhach
        </dd>

        <dt>
            Giá khảo sát: 
        </dt>

        <dd>
            @item.GiaKS
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = item.MaKS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}