@{
    ViewBag.Title = "Details";
}
<h2 class="text-center">CHI TIẾT KHẢO SÁT</h2><br />
@foreach (var item in Model) { 
@*<div>
    <h4>KHAOSAT</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            Ngày khảo sát: 
        </dt>

        <dd>
            @item.NgayKS
        </dd>

        <dt>
            Người khảo sát: 
        </dt>

        <dd>
            @item.NHANVIEN.TenNV
        </dd>

        <dt>
            Địa chỉ khảo sát:
        </dt>

        <dd>
            @item.DiaChiKS
        </dd>

        <dt>
            Tỉ lệ đón khách: 
        </dt>

        <dd>
            @item.TiLeDonKhach
        </dd>

        <dt>
            Giá khảo sát: 
        </dt>

        <dd>
            @item.GiaKS
        </dd>
    </dl>
</div>*@
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr class="active">
                            <td style="font-weight:bold; width:30%" class="text-left">Ngày khảo sát</td>
                            <td class="text-left">@item.NgayKS.ToString("dd-MM-yyyy")</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Người khảo sát</td>
                            <td class="text-left">@item.NHANVIEN.TenNV</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Địa chỉ khảo sát</td>
                            <td class="text-left">@item.DiaChiKS</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold;"  class="text-left">Tỉ lệ đón khách</td>
                            <td class="text-left">@item.TiLeDonKhach</td>
                        </tr>
                        <tr class="active">
                            <td style="font-weight:bold" class="text-left">Giá khảo sát</td>
                            <td class="text-left">@item.GiaKS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = item.MaKS }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
    <p class="text-center">
        <a href="/KHAOSATs/Edit/@item.MaKS" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Sửa thông tin</a>

    </p>
}