@model C43QLXeKhach.Models.XE

@{
    ViewBag.Title = "Chi Tiết Xe";
}

<h2>Chi Tiết Xe</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <label>Loại Xe</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LOAIXE1.TenLoai, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label>Biển Số Xe</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.BienSoXe, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2">
            <label>Hãng Xe</label>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HangXe, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>

<p>
    <button class="btn btn-primary" id="btnEdit" title="edit" onclick="location.href='@Url.Action("Edit", "XEs", new { id = Model.MaXe })'">
    Chỉnh sửa
    @*<span class="glyphicon glyphicon-remove"></span>*@
</button>
<button class="btn btn-danger" id="btnDelete" title="index" onclick="location.href='@Url.Action("Index", "XEs")'">
    Quay trở lại
    @*<span class="glyphicon glyphicon-remove"></span>*@
</button>
</p>
