@model IEnumerable<C43QLXeKhach.Models.XE>

@{
    ViewBag.Title = "Danh sách Xe";
}

<h2>Danh sách xe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Loại xe
        </th>
        <th>
            Biển số xe
        </th>
        <th>
            Hãng xe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BienSoXe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangXe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaXe }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaXe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaXe })
        </td>
    </tr>
}

</table>
