@model C43QLXeKhach.Models.DOITAC

@{
    ViewBag.Title = "Chi Tiết Đối Tác";
}

<h2>Chi Tiết Đối Tác</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Tên ĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDT)
        </dd>

        <dt>
            Người đại diện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDaiDien)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Người tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            Người cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDT }) |
    @Html.ActionLink("Quay về", "Index")
</p>
