@model IEnumerable<C43QLXeKhach.Models.DOITAC>

@{
    ViewBag.Title = "Danh Sách Đối Tác";
}
<div class="row">
    <div class="col-md-4" id="doiTacTitle" style="cursor:pointer"><h2>Danh Sách Đối Tác</h2></div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>

            <a href="/DOITACs/Create" class="btn btn-primary" title="add">
                Thêm Đối Tác
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            <button class="btn btn-danger" id="btnDelete" title="delete">
                Xóa Đối Tác
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
    @*<div class="col-md-3">
                <div class="input-group col-md-12">
                    <input id="txtSearch" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btnSearch" title="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
        </div>*@
    @*<div class="col-md-1">
                <button class="btn btn-default" id="btnSearch" title="search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
        </div>*@
</div>

<form action="/DOITACs/Index" method="POST" id="frmdoitac">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Tên Đối Tác
                    </th>
                    <th>
                        Người Đại Diện
                    </th>
                    <th>
                        SĐT
                    </th>
                    <th>
                        Địa Chỉ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaDT>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NguoiDaiDien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiaChi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="text-right">
                            <a href="/DOITACs/Edit/@item.MaDT" class="btn btn-xs btn-primary" title="Cập nhật">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="/DOITACs/Details/@item.MaDT" class="btn btn-xs btn-info" title="Xem chi tiết">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
            var url = decodeURIComponent(window.location.search.substring(1));
            if (url != "") {
                var searchinput = url.split("=")[1];
                $("#txtSearch").val(searchinput);
            }
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những đối tác này?");
            if (returnVal)
                $('#frmdoitac').submit();
            else
                return;
        });
        //$('#btnSearch').on('click', function () {
        //    var input = "";
        //    if ($("#txtSearch").val())
        //        input = $("#txtSearch").val();
        //    var url="/DOITACs/Index?input="+input;
        //    window.location=url;
        //});
        $('#doiTacTitle').on('click', function () {
            window.location="/DOITACs/Index";
        });
    </script>
}
