@model C43QLXeKhach.Models.CHUYENXE

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa chuyến</h2>

<h3>Bạn có muốn xóa những chuyến xe này không?</h3>
<div>
    <h4>CHUYENXE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTX)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về", "Index")
        </div>
    }
</div>
