@model C43QLXeKhach.Models.CHUYENXE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CHUYENXE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastupdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastupdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChuyen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
