@model C43QLXeKhach.Models.CHUYENXE

@{
    ViewBag.Title = "Chi Tiết Chuyến Xe";
}

<h2>Chi Tiết Chuyến Xe</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-2">
                <label>Ngày Khởi Hành</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayKH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Ngày Đến</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Tuyến</label>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTuyen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Xe</label>
            </div>
            <div class="col-md-10">
               <input class="form-control" readonly value=@C43QLXeKhach.Utils.ChuyenXeInfo.GetBienSo(Model.MaXe).ToString() />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Tài Xế</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" readonly value=@C43QLXeKhach.Utils.ChuyenXeInfo.GetTaiXe(Model.MaTX).ToString() />
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChuyen }) |
    @Html.ActionLink("Quay về", "Index")
</p>
