@model IEnumerable<C43QLXeKhach.Models.CHUYENXE>

@{
    ViewBag.Title = "Chuyến Xe";
}

<div class="row">
    <div class="col-md-4" id="chuyenxeTitle" style="cursor:pointer"><h2>Danh Sách Chuyến Xe</h2></div>
</div>
<div class="row">
    <div class="col-md-8">
        <p>

            <a href="/CHUYENXEs/Create" class="btn btn-primary" title="add">
                Thêm
                @*<span class="glyphicon glyphicon-plus"></span>*@
            </a>
            <button class="btn btn-danger text-right" id="btnDelete" title="delete">
                Xóa
                @*<span class="glyphicon glyphicon-remove"></span>*@
            </button>
        </p>
    </div>
</div>

<form action="/CHUYENXEs/Index" method="POST" id="frmchuyenxe">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-hover" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>
                  
                    </th>
                    <th>
                        Ngày Khởi Hành
                    </th>
                    <th>
                        Ngày Đến
                    </th>
                    <th>
                        Tuyến
                    </th>
                    <th>
                        Xe
                    </th>
                    <th>
                        Tài Xế
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input class="text-center deleteCheckbox" type="checkbox" name="deletecheckbox" value=@item.MaChuyen>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaTuyen)
                        </td>
                        <td>
                            @C43QLXeKhach.Utils.ChuyenXeInfo.GetBienSo(@item.MaXe).ToString()
                        </td>
                        <td>
                            @C43QLXeKhach.Utils.ChuyenXeInfo.GetTaiXe(@item.MaTX).ToString()
                        </td>
                        <td class="text-right">
                            <div style="width:70px">
                                <a href="/CHUYENXEs/Details/@item.MaChuyen" class="btn btn-xs btn btn-info" title="Xem chi tiết">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </a>
                                <a href="/CHUYENXEs/Edit/@item.MaChuyen" class="btn btn-xs btn-primary" title="Chỉnh sửa">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnDelete').prop("disabled", true);
        });
        var listDelete = [];
        $('.deleteCheckbox').on('change', function () {
            listDelete = [];
            $('.deleteCheckbox').map(function () {
                if ($(this).is(":checked")) {
                    listDelete.push($(this).val());
                }
            });
            if(listDelete.length>0) {
                $('#btnDelete').prop("disabled", false);
            }
            else {
                $('#btnDelete').prop("disabled", true);
            }
        });

        $('#btnDelete').on('click', function () {
            var returnVal = confirm("Bạn có muốn xóa những chuyến xe này?");
            if (returnVal)
                $('#frmchuyenxe').submit();
            else
                return;
        });
        $('#nhanVienTitle').on('click', function () {
            window.location="/NHANVIENs/Index";
        });
    </script>
}